{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-lg-6 titre">
      <h4>NANDITE</h4>
      <p id='p'>UNIVERSITY</p>
    </div>
        <button type="submit"class="btn btn-light" id="bouton">A propos</button>
        <div class="liens">
    <a href="https://www.instagram.com/sonatelacademy/"><img src="{{asset('img/insta.png')}}" width=30px height=29.87px alt=""></a>
    <a href="https://web.facebook.com/SonatelAcademy/?_rdc=1&_rdr"><img src="{{asset('img/fb.png')}}" width=30px height=29.87px alt=""></a>
    <a href="https://twitter.com/academysonatel?lang=fr"><img src="{{asset('img/twitter.png')}}" width=30px height=29.87px alt=""></a>
    </div>
  </div>
{% endblock %}